.clear-both {
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  margin-left: 5px;
}
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.1em;
}
h3 {
  font-size: 1.0em;
}
h4 {
  font-size: 0.9em;
}
body {
  margin: 0px;
  background-color: #eee;
  background-image: url('img/background.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  outline: 0;
}
#page {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  #page {
    padding: 10px 10px 10px 10px;
  }
}
@media screen and (min-width: 1000px) {
  #page {
    padding: 10px 10px 10px 320px;
  }
}
.page {
  display: none;
}
#header {
  margin: 0px;
  padding: 20px;
  background-color: rgba(150, 150, 150, 0.8);
  border: 1px solid #333333;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 1px #a7a7a7 inset, 0px 0px 20px #333333;
}
#header h2 {
  color: #FFF;
  font-size: 1em;
  font-family: 'sans-serif';
  text-align: center;
  text-shadow: 0px 0px 1px #333333;
}
@media screen and (max-width: 1000px) {
  #menu-title {
    margin: 0px;
    padding: 20px;
    background-color: #333333;
    border: 1px solid #000000;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 1px #444444 inset, 0px 0px 20px #000000;
  }
  #menu-title h2 {
    color: #FFF;
    font-size: 1em;
    font-family: 'sans-serif';
    text-align: center;
    text-shadow: 0px 0px 1px #000000;
  }
}
@media screen and (min-width: 1000px) {
  #menu-title {
    margin: 0px;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8);
    border: 1px solid #000000;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 1px #444444 inset, 0px 0px 20px #000000;
  }
  #menu-title h2 {
    color: #FFF;
    font-size: 1em;
    font-family: 'sans-serif';
    text-align: center;
    text-shadow: 0px 0px 1px #000000;
  }
}
#content {
  padding: 20px;
  background-color: rgba(220, 220, 220, 0.8);
  border-radius: 0px 0px 5px 5px;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-color: #323232;
  box-shadow: 0px 0px 0px 1px rgba(220, 220, 220, 0.8) inset, 0px 0px 20px #323232;
}
#content h1,
#content h2,
#content h3,
#content h4 {
  position: relative;
  box-sizing: border-box;
  margin: -1px 0px;
  padding: 20px;
  width: 100%;
  background-color: #bababa;
  border-width: 1px 0px 1px 0px;
  border-color: #323232;
  border-style: solid;
  font-weight: normal;
  box-shadow: 0px 1px rgba(220, 220, 220, 0.8) inset, 0px 0px 20px #323232;
}
#content h1 {
  font-weight: bold;
}
#content h4 {
  padding: 10px 20px;
  font-style: italic;
  color: #222;
}
#content hr.content-divider {
  margin: 10px -20px;
}
.no-padding {
  padding: 0px !important;
}
.overflow-hidden {
  overflow: hidden;
}
#menu {
  overflow-y: hidden;
}
@media screen and (max-width: 1000px) {
  #menu {
    padding: 0px;
    background-color: #444444;
    border-radius: 0px 0px 5px 5px;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #000000;
    box-shadow: 0px 0px 0px 1px #444444 inset, 0px 0px 20px #000000;
  }
}
@media screen and (min-width: 1000px) {
  #menu {
    padding: 0px;
    background-color: rgba(68, 68, 68, 0.8);
    border-radius: 0px 0px 5px 5px;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #000000;
    box-shadow: 0px 0px 0px 1px rgba(68, 68, 68, 0.8) inset, 0px 0px 20px #000000;
  }
}
#menu-button,
#settings-button,
#logout-button {
  display: none;
  position: relative;
  margin: -44px 10px 10px 10px;
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-size: 42px 42px;
}
#menu-button:hover,
#settings-button:hover,
#logout-button:hover {
  cursor: pointer;
  filter: invert(60%) sepia(100%) hue-rotate(330deg) saturate(300%) drop-shadow(0px 0px 5px black);
}
#menu-button {
  float: left;
  background-image: url('img/menu-white.png');
}
#settings-button {
  float: right;
  background-image: url('img/gear-white.png');
}
#logout-button {
  float: right;
  background-image: url('img/lock-white.png');
}
#menu-container {
  display: none;
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  width: 320px;
  height: 100%;
}
.menu-item {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  font-family: 'sans-serif';
  font-size: 16px;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 24px 24px;
  padding-left: 45px;
  color: #FFF;
  text-decoration: none;
}
@media screen and (max-width: 1000px) {
  .menu-item {
    border-top: 1px solid #555;
  }
}
@media screen and (min-width: 1000px) {
  .menu-item {
    border-top: 1px solid #444;
  }
}
.menu-item:hover {
  cursor: pointer;
  background-color: #953a00;
}
form {
  position: relative;
}
.select {
  box-sizing: border-box;
  margin: 10px 0px 0px 0px;
  border-radius: 5px;
  border: 1px solid;
  padding: 20px;
  width: 100%;
  font-size: 1em;
  font-family: 'sans-serif';
  color: #333;
  background-color: #FAFAFA;
  position: relative;
  padding: 20px 40px 20px 20px;
  background-image: url('img/down-arrow.png');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: right 10px center;
}
.select:hover,
.select:focus {
  box-shadow: 0px 0px 10px #953a00;
}
.select:hover,
.select:focus {
  box-shadow: 0px 0px 10px #953a00;
}
.select:hover {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.select .option {
  padding: 10px;
}
.select .option:hover {
  cursor: default;
  background-color: #DDDDDD;
}
.select .option[data-selected] {
  background-color: #CCCCCC;
}
.select .selected {
  white-space: nowrap;
  overflow: hidden;
}
.button {
  box-sizing: border-box;
  margin: 10px 0px 0px 0px;
  border-radius: 5px;
  border: 1px solid;
  padding: 20px;
  width: 100%;
  font-size: 1em;
  font-family: 'sans-serif';
  color: #333;
  background-color: #FAFAFA;
  border-color: #333;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top left;
  font-weight: bold;
  text-shadow: 0px -1px 1px #000000;
  background-image: linear-gradient(#cccccc, #eeeeee);
  color: #FFF;
  box-shadow: 0px 1px #bbbbbb inset, 0px -1px #dddddd inset;
}
.button:hover,
.button:focus {
  box-shadow: 0px 0px 10px #953a00;
}
.button:hover,
.button:focus {
  box-shadow: 0px 0px 10px #953a00;
}
.button:hover {
  cursor: pointer;
}
.button:hover {
  background-image: linear-gradient(#eeeeee, #cccccc);
}
.textarea {
  margin: 10px 0px 0px 0px;
  border-radius: 5px;
  border: 1px solid;
  padding: 20px;
  width: 100%;
  font-size: 1em;
  font-family: 'sans-serif';
  color: #333;
  float: left;
  box-sizing: border-box;
  position: relative;
  resize: vertical;
  background-color: #FAFAFA;
  outline: none;
}
.textarea:hover,
.textarea:focus {
  box-shadow: 0px 0px 10px #953a00;
}
.textarea:hover,
.textarea:focus {
  box-shadow: 0px 0px 10px #953a00;
}
.options {
  box-sizing: border-box;
  margin: 10px 0px 0px 0px;
  border-radius: 5px;
  border: 1px solid;
  padding: 20px;
  width: 100%;
  font-size: 1em;
  font-family: 'sans-serif';
  color: #333;
  background-color: #FAFAFA;
  display: none;
  padding: 0px;
  z-index: 1000;
  max-height: 314px;
  position: absolute;
  top: 50px;
  left: 0px;
  overflow-y: auto;
  box-shadow: 0px 0px 10px #333;
}
.options:hover,
.options:focus {
  box-shadow: 0px 0px 10px #953a00;
}
.options:hover,
.options:focus {
  box-shadow: 0px 0px 10px #953a00;
}
input,
.input {
  box-sizing: border-box;
  margin: 10px 0px 0px 0px;
  border-radius: 5px;
  border: 1px solid;
  padding: 20px;
  width: 100%;
  font-size: 1em;
  font-family: 'sans-serif';
  color: #333;
  background-color: #FAFAFA;
}
input:hover,
.input:hover,
input:focus,
.input:focus {
  box-shadow: 0px 0px 10px #953a00;
}
input[type="text"],
input[type="password"] {
  border-color: #888;
}
input[type="submit"] {
  border-color: #333;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top left;
  font-weight: bold;
  text-shadow: 0px -1px 1px #000000;
  background-image: linear-gradient(#a64b00, #731800);
  color: #fff;
  box-shadow: 0px 1px #c86d22 inset, 0px -1px #953a00 inset;
}
input[type="submit"]:hover {
  cursor: pointer;
}
input[type="submit"]:hover {
  background-image: linear-gradient(#a64b00, #d97e33);
}
.icon-input {
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 36px 36px;
  padding-left: 60px;
}
.login {
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  margin: 0px 0px 0px -160px;
}
